#head{
    font-family: "Times New Roman", Times, serif;
  }
  hr{
  border-top: 2px solid;
  }
  #card{
  width: 12em;

  }
  #img{
   height: 50%;
  }
  #cont{
    background-color: #e5e5e5d4;
  }
  .col-lg-4 img{
    object-fit: cover;
    width: 100%;
    height: 100% !important;
    margin: 0;
    padding-left: 0;
  }
  .ht{
    height: 250px;
  }
  .box{
  display: flex;
  
  }
  .disp{
  display: flex;
  flex-wrap: wrap;
  }
  
  .hvr:hover{
  transform: translate3D(0,-1px,0) scale(1.07);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all .4s ease;
  }
  .hvr{
  transition: all .5s ease;
  }

  video{
    vertical-align: middle;
    object-fit: contain;
    overflow-clip-margin: content-box;
  }

  /* .modal{
      z-index: 5;
  } */

